<!DOCTYPE html>
<html>
<head>
<title>购物篮 - MO&Co. </title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no,width=320,target-densitydpi=142">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link href="../../resources/mobile/css/common.css" tppabs="http://www.mo-co.com/resources/mobile/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../resources/mobile/js/jquery.min.js" tppabs="http://www.mo-co.com/resources/mobile/js/jquery.min.js"></script>
<script type="text/javascript" src="../../resources/mobile/js/common.js" tppabs="http://www.mo-co.com/resources/mobile/js/common.js"></script>
<script type="text/javascript" src="../../resources/mobile/js/mobile.js" tppabs="http://www.mo-co.com/resources/mobile/js/mobile.js"></script>
<script type="text/javascript" src="../../resources/mobile/js/angular-1.0.0rc10.min.js" ></script>
</head>
<body class="body_margin" ng-app="cartIndex" ng-controller="cartList" >
<div class="fullscreen">
<header class="header" id="header">
<div id="headerTitleContent" style="text-align: center;">
	<a href="javascript:history.go(-1);">
		<img src="../../resources/mobile/images/icon_back.png"  class="header_img" />
	</a>
</div>
</header> 
<div class="cartList cartListInfo" ng-show="cartListL_">
	<div class="md-content">
		<div>
			<div class="cartEmpty">
			您的购物篮是空的，<a href="../mobileIndex.html">立即去商城逛逛？</a>
			</div>
		</div>
	</div>
</div>
<div class="cartList cartListInfo" ng-show="cartListL">
	<div class="md-content">
		<div>
			<ul>
				<li ng-repeat="item in cart_list">
					 <table cellpadding="5" cellspacing="0">
						 <tbody>
							 <tr>
								 <td rowspan="3">
									 <a  ng-href="../../mobile/product/content.html?productId={{item.good_id}}">
										 <img ng-src="{{item.color_image_thumbnail}}" style="width:70px">
									  </a>
								 </td>
								  <td colspan="2" style="width: 100%;">
									 <a ng-href="/mobile/product/content.jhtml?productId={{item.good_id}}">
										 <strong>{{item.name}}</strong>
									 </a>
									 <br>
									 <lable for="merchantNumber">编号:</lable> 
									 <span id="merchantNumber">{{item.code}}</span>
								 </td>
								  <td colspan="2" style="vertical-align: top;">
									<a href="javascript:void(0);" onclick="m$.business.cart.deleteCartItem({{item.cart_id}})">
										<img src="../../resources/mobile/images/icon_delete.png" class="basket-icon-delete" id="del{{item.cart_id}}">
									</a>
								 </td>
							 </tr>
							 <tr>
							   <td colspan="2">
								   <input type="hidden" name="cartItemId" id="cartItemId" value="{{item.cart_id}}">
									<input type="hidden" name="stockAvai" id="stockAvai_{{item.cart_id}}">
								   <label for="productSize">
										尺码
									</label>
									<span id="productSize">
									   <span>{{item.size_name}}</span>
									</span>
							   </td>
							   <td>
								 <!--  <span>库存不足</span>-->
								   ￥{{item.price_origin*item.quantity}}
							   </td>
							 </tr>
							 <tr>
								<td>
									<label for="productColor">
										颜色
									</label>
									<span id="productColor">
										<!-- [#if cartItem.product.colorVal?length lt 5] 
														 ${cartItem.product.colorVal}
													[#else]
														 ${cartItem.product.colorVal[0..4]}
													[/#if]
										-->
										{{item.color_name}}
									</span>
								</td>
								<td>
									<div class="little-border" style="float: right;">
										<div class="little-boder-item">
											<a class="md-trigger" href="#" data-modal="plusInfoModal_{{item.cart_id}}">
												<span>修改</span>
											</a>
										</div>
									</div>
								</td>
								<td>
									<div class="little-border" id="quantityVal">
										<div class="little-boder-item">
											<span>{{item.quantity}}</span>
										</div>
									</div>
								</td>
							 </tr>
						 </tbody>
					 </table>
				</li>
			</ul>
			<table style="padding-top: 10px;font-size: 13px;padding-bottom: 30px;">
				<tbody><tr>
					<td>
						<label for="cartQuantity">{{total_quantity}}</label>
						<span id="cartQuantity">件商品&nbsp;&nbsp;</span>
					</td>
					<td style="text-align: right;">
						<label for="sellingPrice">商品总额:</label>
						<span id="sellingPrice">￥{{total_price_origin}}</span>
					</td>
				</tr>
				<tr>
					<td style="text-align: right;" colspan="2">
						<label for="effectivePrice">实付款:</label>
						<span id="effectivePrice">￥{{total_price}}</span>
					</td>
				</tr>
				<tr>
					<td style="text-align: right;" colspan="2">
						<label for="beEconomical">节省:</label>
						<span id="beEconomical">￥{{tol_save}}</span>
					</td>
				</tr>
			</tbody></table>
			<div class="nextBtnDiv">
				<button id="submitCart" onclick="m$.business.cart.submitCart();">结算</button>
			</div>	
		</div>
	</div>
</div>
<div class="md-modal md-plusInfoModal md-plusInfoModal_{{item.cart_id}}" id="plusInfoModal_{{item.cart_id}}" style="height:100%" ng-repeat="item in cart_list">
	<div class="md-content">
		<div>
			<ul style="padding: 0 0 0px 0px;">
				<li>
				   <div class="specificationsTitle_{{item.cart_id}} specificationsTitle">请选择您要的商品信息</div>
				   <input type="hidden" id="currentProductId_{{item.cart_id}}" value="{{item.good_id}}">
				  <!--颜色-->
					<dl id="productColor" class="clearfix iteminfo_parameter sys_item_specpara_{{item.cart_id}} sys_item_specpara" data-sid="1">
						<dt>颜色</dt>
						<dd>
							<ul class="sys_spec_img" style="padding: 0 0 0px 0px;">
									<li class="productColorThumbImage_{{item.cart_id}} {{selected}}" data-aid="{{item_color[0]}}" data-code="color" ng-repeat="item_color in  item.color_list">
										 <a href="javascript:;" title="{{item_color[2]}}">
											 <img ng-src="{{item_color[3]}}" alt="{{item_color[2]}}">
										 </a>
										 <i></i>
									</li>
							</ul>                
						</dd>
					</dl>
				</li>
				<li>
					<dl id="productSize" class="clearfix iteminfo_parameter sys_item_specpara_{{item.cart_id}} sys_item_specpara" data-sid="2">
						<dt>尺码</dt>
						<dd>
							<ul class="sys_spec_text" style="padding: 0 0 0px 0px;">
								 <li class="productSizeThumb_{{item.cart_id}} " data-aid="{{item_size[0]}}" data-code="size" ng-repeat="item_size in  item.size_list">
									 <a href="javascript:;" title="{{item_size[2]}}">
										 {{item_size[2]}}
									 </a>
									 <i></i>
								</li>
							</ul>
						</dd>
					</dl>
				</li>
				<li>
					<dl id="buyQuantity" class="clearfix buyQuantity" data-sid="3">
						<dt>数量</dt>
						<dd>
							 <input type="button" id="decrease_{{item.cart_id}}" class="decrease" value="-">
							<input type="text" id="quantity_{{item.cart_id}}" name="quantity" class="quantity" value="1" maxlength="4" onpaste="return false;" readonly="">
							<input type="button" id="increase_{{item.cart_id}}" class="increase" value="+">
						</dd>
					</dl>
				</li>
			</ul>
			<button id="modifyConfirm_{{item.cart_id}}">确定</button>
		</div>
	</div>
</div>

<div class="md-overlay"></div>
<nav class="footer" id="footer">
	<a href="../mobileIndex.html" tppabs="http://www.mo-co.com/mobile/product/productCategory.jhtml?brandId=19&tagIds=" id="navCategory" class="navCategory">
	<em></em>
	</a>
	<a href="index.html" tppabs="http://www.mo-co.com/mobile/cart/index.jhtml" id="navCart" class="navCart">
	<em>
	<li id="navCartQuantity">
	</li>
	</em>
	</a>
	<a href="../login/index.html" tppabs="http://www.mo-co.com/mobile/login/index.jhtml" id="navAccount" class="navAccount">
	<em></em>
	</a>
	<a href="../storeInfo/index.html" tppabs="http://www.mo-co.com/mobile/storeInfo/index.jhtml" id="navStoreInfo" class="navStoreInfo">
	<em></em>
	</a>
	<a href="../search/search.html" tppabs="http://www.mo-co.com/mobile/search/search.jhtml" id="navSearch" class="navSearch">
	<em></em>
	</a>
</nav>
</div>

<script>
   var globalData;
  var app=angular.module('cartIndex',[]);
  app.controller("cartList",function($scope,$http){
	 var url="http://114.55.38.119/mcshop/Public/demo/?service=Cart.GetList&user_id=9137";
	 $scope.cartListL=false;
	 $scope.cartListL_=false;
	 $http.get(url).success(function(response) { 
		var data=response.data;
		if(data.cart_list!=null){  //购物车不为空
			$scope.cartListL=true;
			
		}
		else{
			$scope.cartListL_=true;
		}
		 $scope.cart_list = data.cart_list;
		 $scope.total_quantity=data.total_quantity;
		 $scope.total_price_origin=data.total_price_origin;
		 $scope.total_price=data.total_price;
		 $scope.tol_save=data.tol_save;	
		 globalData =data;
		var sobj = document.createElement('script');
		sobj.type = "text/javascript";
		sobj.src = "ajs.js";
		var headobj = document.getElementsByTagName('head')[0];
		headobj.appendChild(sobj);
		var sobj = document.createElement('script');
		sobj.type = "text/javascript";
		sobj.src = "../../resources/mobile/js/modernizr.js";
		var headobj = document.getElementsByTagName('head')[0];
		headobj.appendChild(sobj);
	 });
  });
 
</script>

</body>
</html>