<!DOCTYPE html> 
<html>
<head>
<title>处理订单</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no,width=320,target-densitydpi=142">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link href="../../../resources/mobile/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../resources/mobile/js/jquery.min.js"></script>
<script type="text/javascript" src="../../../resources/shop/js/jquery.lSelect.js"></script>
<script type="text/javascript" src="../../../resources/mobile/js/common.js"></script>
<script type="text/javascript" src="../../../resources/mobile/js/mobile.js"></script>
<script type="text/javascript" src="../../../resources/mobile/js/angular-1.0.0rc10.min.js" ></script>

</head>
<body class="body_margin">
<div class="fullscreen" ng-app="orderInfo" ng-controller="orderInfoList">
		<!-- header -->
	<header class="header" id="header">
		<div id="headerTitleContent" style="text-align: center;">
		  <a href="javascript:history.back();">
			<img src="../../../resources/mobile/images/icon_back.png" class="header_img" />
		  </a>
		</div>
	</header>		
	<!-- /header -->	
	<!-- start 订单详情 -->
	<div class="moMobileContent orderInfo">

			<input type="hidden" id="receiverId" name="receiverId" value="{{addr_list[0].id}}" /> 
			<input type="hidden" id="cartToken" name="cartToken" value="" />
			<!--
			<input type="hidden" id="paymentPluginId" name="paymentPluginId" value="alipayWapPlugin" />
			-->
			<input type="hidden" id="paymentPluginId" name="paymentPluginId" value="wxJsPlugin" />
			<!--发票类型及发票抬头 -->
			<input type="hidden" id="invoiceTypeId" name="invoiceTypeId">
			<input type="hidden" id="invoiceTitle" name="invoiceTitle">
		<div class="orderInfoContent">
			<div>
				<ul>
					<li class="md-trigger" data-modal="orderProductInfoModal">
						<table>
							<tr>
								<th>
									产品信息
								</th>
								<td rowspan="3" class="rightArrow">
								   <img src="../../../resources/mobile/images/icon_rightarrow.png" width="8px"/>
								</td>
							</tr>
							<tr>
								<td>
									{{total_quantity}}件产品
								</td>
							</tr>
							<tr>
								<td>
									<label for="amountPayable">实付金额:</label>
									<span id="amountPayable">￥{{total_price}}</span>
								</td>
							</tr>
						</table>
					</li>
					<li class="md-trigger" data-modal="receiverModal">
						<table>
							<tr>
								<th>
								   收货信息
								</th>
								<td rowspan="5" class="rightArrow">
								   <img src="../../../resources/mobile/images/icon_rightarrow.png" width="8px"/>
								</td>
							</tr>
							<tr ng-show="addr_list">
								<td>
									<label for="consignee">收件人:</label>
									<span id="consignee">{{addr_list[0].consignee}}</span>
								</td>
							</tr>
							<tr ng-show="addr_list">
								<td>
									<label for="phone">手机号码:</label>
									<span id="phone">{{addr_list[0].phone}}</span>
								</td>
							</tr>
							<tr ng-show="addr_list">
								<td>
									<label for="address">地址:</label>
									<span id="address">
									  {{addr_list[0].area_name}}
									</span>
								</td>
							</tr>
							<tr ng-show="addr_list">
								<td>
									<label for="zipCode">邮编:</label>
									<span id="zipCode">{{addr_list[0].zip_code}}</span>
								</td>
							</tr>
							 <tr ng-show="!addr_list">
								<td>
									点击新增收货地址
								</td>
							</tr>
						 </table>
					</li>
					<!--
					<li  class="md-trigger" data-modal="paymentPluginModal">
						 <table>
							<tr>
								<th>
								   支付方式
								</th>
								<td rowspan="2" class="rightArrow">
								   <img src="/resources/mobile/images/icon_rightarrow.png" width="8px"/>
								</td>
							</tr>
							<tr>
								<td>
								   <span id="paymentPluginText">微信支付</span>
								</td>
							</tr>
						 </table>
					</li>
					-->
					<li class="md-trigger" data-modal="invoiceInfoModal">
						 <table>
							<tr>
								<th>
								   发票信息	
								</th>
								<td rowspan="3" class="rightArrow">
								   <img src="../../../resources/mobile/images/icon_rightarrow.png" width="8px"/>
								</td>
								<input type="hidden" id="isInvoice" name="isInvoice">
							</tr>
							<tr class="invoiceTypeInfo">
								<td>
									<label for="invoiceType">发票类型：</label>
										<span id="invoiceTypeSpan">
										  -
										</span>
									 </label>
								</td>
							</tr>
							<tr class="invoiceTypeInfo">
								<td>
									<label for="invoiceTypeContent">发票抬头：</label>
										<span id="invoiceTypeContentSpan">
										  -
										</span>
									 </label>
								</td>
							</tr>
						 </table>
					</li>
					<li>
						 <table>
							<tr>
								<th>
								   备注
								</th>
							</tr>
							<tr>
								<td>
								   <input type="text" class="box_input" placeholder="备注" id="markinfo" name="markinfo">
								</td>
							</tr>
						 </table>
					</li>
					<li>
						 <table>
							<tr>
								<th>
								   优惠券
								</th>
							</tr>
							<tr>
							<!-- 

									<img id="confirmBut" src="/resources/mobile/images/right.png" style="width: 36px;height: 36px;cursor: pointer;"/>
								-->
								<td>
									<input type="hidden" id="code" name="code" maxlength="200" />
									<input type="text" class="box_input" placeholder="优惠码" id="couponCode" name="couponCode" style="width:76%;border-right:none;float:left;"/>
									<button  type="button"  class="couponButton" id="confirmBut">确 认</button>
								</td>
							   
								</td>
							</tr>
							  <tr style="display:none">
								<td>
									<label for="couponDiscount">优惠金额:</label>
									<span id="couponDiscount">￥{{}}</span>
								</td>
							</tr>
						 </table>
					</li>
					<li>
					</li>
				</ul>
				<dl id="shippingMethod" style="display:none">
						<dt>配送方式</dt>
							<dd>
								<label for="shippingMethod_1">
									<input class="shippingMethod" type="radio" id="shippingMethod_1"  name="shippingMethodId" value="1" />
									<span>
											<em style="border-right: none; background: url() center no-repeat;">&nbsp;</em>
										<strong>普通快递</strong>
									</span>
									<span>系统将根据您的收货地址自动匹配快递公司进行配送，享受免运费服务</span>
								</label>
							</dd>
							<dd>
								<label for="shippingMethod_2">
									<input class="shippingMethod" type="radio" id="shippingMethod_2" checked="checked" name="shippingMethodId" value="2" />
									<span>
											<em style="border-right: none; background: url() center no-repeat;">&nbsp;</em>
										<strong>顺丰速递</strong>
									</span>
									<span>需支付10元配送费用，不享受免运费服务</span>
								</label>
							</dd>
				</dl>
				<div class="nextBtnDiv">
					<button type="button" id="submitOrderInfo" onclick="m$.business.cart.submitOrderInfo();">提交订单</button>
				</div>
			</div>
		</div>
	</div>
		<!-- end 订单详情 -->
		<!-- the overlay element -->
		<div class="md-overlay"></div>
		
		<!-- start 产品信息 -->
		<div class="md-modal md-orderProductInfoModal" id="orderProductInfoModal">
			<div class="md-content">
				<div>
					<ul>
						<li ng-repeat="item in good_list">
							 <table cellpadding="5" cellspacing="0">
								 <tbody>
									 <tr>
										 <td rowspan="3">
											 <a  ng-href="../../mobile/product/content.html?productId={{item.good_id}}">
												 <img ng-src="{{item.color_image_thumbnail}}" style="width:70px">
											  </a>
										 </td>
										  <td colspan="2" style="width: 100%;">
											 <a ng-href="../../mobile/product/content.html?productId={{item.good_id}}">
												 <strong>{{item.name}}</strong>
											 </a>
											 <br>
											 <lable for="merchantNumber">编号:</lable> 
											 <span id="merchantNumber">{{item.code}}</span>
										 </td>
										  <td colspan="2" style="vertical-align: top;">
										   
										 </td>
									 </tr>
									 
									  <tr>
									   <td colspan="2">
										   <label for="productSize">
												尺码
											</label>
											<span id="productSize">
											   <span>{{item.size_name}}</span>
											</span>
									   </td>
									   <td>
										  ￥{{item.price_origin*item.quantity}}
									   </td>
									 </tr>
									 <tr>
										<td>
											<label for="productColor">
												颜色
											</label>
											<span id="productColor">
													{{item.color_name}}
											</span>
										</td>
										<td>
											
										</td>
										<td>
											<div class="little-border" id="quantityVal">
												<div class="little-boder-item">
													<span>{{item.quantity}}件</span>
												</div>
											</div>
										</td>
									 </tr>
								 </tbody>
							 </table>
						</li>
					</ul>
						<table style="padding-top: 10px;font-size: 13px;padding-bottom: 30px;width: 100%;">
						    <tr>
						        <td>
						            <label for="cartQuantity" id="total_quantity">{{total_quantity}}</label>
						            <span id="cartQuantity">件商品&nbsp;&nbsp;</span>
						        </td>
						        <td style="text-align: right;">
						            <label for="sellingPrice">商品总额:</label>
						            <span id="sellingPrice">￥{{total_price_origin}}</span>
						        </td>
						    </tr>
						    <tr>
						        <td style="text-align: right;" colspan="2" >
						            <label for="effectivePrice">实付款:</label>
							        <span id="effectivePrice">￥{{total_price}}</span>
						        </td>
						    </tr>
						    <tr>
						        <td style="text-align: right;" colspan="2" >
						            <label for="beEconomical">节省:</label>
							        <span id="beEconomical">￥{{tol_save}}</span>
						        </td>
						    </tr>
						</table>
					<button class="md-close">关闭</button>
				</div>
			</div>
		</div>
		<!-- end 产品信息 -->
		
		
		<!-- start 收货信息 -->
		<div class="md-modal md-receiverModal" id="receiverModal">
			<div class="md-content">
				<div>
					<dl class="clearfix receiverList" ng-show="addr_list">
						<dd>
							<ul class="receiverEntry">
								<li dataid="{{item.id}}" ng-repeat="item in addr_list">
								    <a href="javascript:;">
										 <table>
								            <tr>
								                <td>
								                    <label for="receiverConsignee">收件人:</label>
								                    <span id="receiverConsignee">{{item.consignee}}</span>
								                </td>
								            </tr>
								            <tr>
								                <td>
								                    <label for="receiverPhone">手机号码:</label>
								                    <span id="receiverPhone">{{item.phone}}</span>
								                </td>
								            </tr>
								            <tr>
								                <td>
								                    <label for="receiverAddress">地址:</label>
								                    <span id="receiverAddress" style="overflow:hidden">
								                        {{item.area_name}}  
								                    </span>
								                </td>
								            </tr>
								            <tr>
								                <td>
								                    <label for="receiverZipCode">邮编:</label>
								                    <span id="receiverZipCode">{{item.zip_code}}</span>
								                </td>
								            </tr>
								         </table>
								    </a>
								    <i></i>
								</li>
							</ul>
						</dd>
					</dl>
					<button class="md-close" ng-show="addr_list">确定</button>
					<table style="width: 100%;" ng-show="!addr_list">
					    <tr>
						    <td>
						        <button id="addReceiver" class="md-trigger" data-modal="addReceiverModal">新增</button>
						    </td>
						    <td>
						        <button class="md-close">关闭</button>
						    </td>
					    </tr>
					</table>
				</div>
			</div>
		</div>
		<!-- end 收货信息 -->
		
		<!-- start 新增收货地址 -->
		<div class="md-modal md-addReceiverModal" id="addReceiverModal">
			<div class="md-content">
				<div>
					<div class="box">
						<span class="fieldSet" id="receiverModifyAreaSpan">
							<input type="hidden" id="modify_orderAreaId" name="modify_orderAreaId" treePath=""/>
						</span>
					</div>
					<div class="box">
						<input type="text" name="address" class="box_input" placeholder="&nbsp;&nbsp;寄送地址"/>
					</div>
					<div class="box">
						<input type="text" name="consignee"  class="box_input" placeholder="&nbsp;&nbsp;收货人"/>
					</div>
					<div class="box">
						<input type="text" name="phone"  class="box_input" placeholder="&nbsp;&nbsp;手机号码"/>
					</div>
					<div class="box">
						<input type="text" name="zipCode"  class="box_input" placeholder="&nbsp;&nbsp;邮编"/>
					</div>
					<div class="address-btn">
						<button type="button" name="btn-confirm" onClick="addNewAddress()">确认</button>
					</div>
				    <button class="md-close">取消</button>
				</div>
			</div>
		</div>
		<!-- end 新增收货地址 -->
		
		<!-- start 发票信息 -->
		<div class="md-modal md-invoiceInfoModal" id="invoiceInfoModal">
			<div class="md-content" style="margin-top:250px">
				<div>
					<div class="box">
						<select name="invoiceTypeIdInput" id="invoiceTypeIdInput" class="box_input" style="width: 98%;">
								<option value="">请选择发票类型</option>
								<option value="3">MO&Co.摩珂服装(待处理)</option>
				        </select>
			        </div>
                 	<div class="box">
						 <input type="text" id="invoiceTitleInput" class="box_input" placeholder="发票抬头"/>
					</div>
					<button type="button" id="confirm" style="width: 45%;float: left;margin-left: 10px;">确定</button>
					<button type="button" class="md-close" style="width:45%; margin-right: 10px;">取消</button>
				</div>
			</div>
		</div>
		<!-- end 发票信息 -->
		
		<!-- start 支付方式选择 -->
		<div class="md-modal md-paymentPluginModal" id="paymentPluginModal">
			<div class="md-content">
				<div>
					<ul class="paymentPluginEntry">
						<li dataid="wxJsPlugin" dataval="微信支付">
						    <a href="javascript:;">
						        <img src="http://images.mo-co.com/upload/image/201509/49027800-36d0-4997-9ebe-a899945dd86c.png" />
						        微信支付
						    </a>
						    <i></i>
						</li>
						<li dataid="alipayWapPlugin" dataval="支付宝支付">
						    <a href="javascript:;">
							    <img src="http://images.mo-co.com/upload/image/201509/64ff404e-47b4-4353-adac-f290d84fb2e5.png" />
							    支付宝支付
						    </a>
						    <i></i>
						</li>
					</ul>
					<button type="button"  class="md-close" style="width: 45%;float: left;margin-left: 10px;">确定</button>
				</div>
			</div>
		</div>
		<!-- end 支付方式选择 -->
		
		<!-- footer -->
<nav class="footer" id="footer">
		<a href="../../mobileIndex.html" id="navCategory" class="navCategory">
		    <em></em>
		</a>
	<a href="../../cart/index.html" tppabs="http://www.mo-co.com/mobile/cart/index.jhtml" id="navCart" class="navCart">
		<em>
			<li id="navCartQuantity">
			</li>
		</em>
	</a>
	<a href="../../login/index.html" tppabs="http://www.mo-co.com/mobile/login/index.jhtml" id="navAccount" class="navAccount">
		<em></em>
	</a>
	<a href="../../storeInfo/index.html" tppabs="http://www.mo-co.com/mobile/storeInfo/index.jhtml" id="navStoreInfo" class="navStoreInfo">
		<em></em>
	</a>
	<a href="../../search/search.html" tppabs="http://www.mo-co.com/mobile/search/search.jhtml" id="navSearch" class="navSearch">
		<em></em>
	</a>
</nav>
		<!-- /footer -->
	</div>
	<script type="text/javascript" src="../../../resources/mobile/js/modernizr.js"></script>
<script type="text/javascript">
//1. 获取要付款的购物篮cart_id 分两种情况
//2. 获取订单处理页面信息 orderInfo
  var ArrayCart_id =new Array();
  var app=angular.module('orderInfo',[]);
  app.controller("orderInfoList",function($scope,$http){
	 var url_getCartID="http://114.55.38.119/mcshop/Public/demo/?service=Cart.GetList&user_id=9137";

	 $http.get(url_getCartID).success(function(response) { 
		for(var i=0;i<response.data.cart_list.length;i++){
			ArrayCart_id.push(response.data.cart_list[i].cart_id);
		}
		var url_GenOrder="http://114.55.38.119/mcshop/Public/demo/?service=Order.GenOrderByCart";
		ArrayCart_id  = ArrayCart_id.toString();
		var url_GenOrder="http://114.55.38.119/mcshop/Public/demo/?service=Order.GenOrderByCart&user_id=9137&cart_ids="+ArrayCart_id;
		/*$http({  //post方法有问题
			method:"post",
			url:url_GenOrder,
			data:{user_id:9137,cart_ids:ArrayCart_id }
		}).success(function(response){
		 var data =response.data;
		 $scope.total_quantity = data.total_quantity; 
		 /*$scope.total_price = data.total_price;
		 $scope.total_price_origin = data.total_price_origint;
		 $scope.total_save = data.total_save;
		 $scope.addr_list = data.addr_list;
		 $scope.good_list = data.good_list;
		});	*/	
		$http.get(url_GenOrder).success(function(response) { 
		 var data =response.data;
		 $scope.total_quantity = data.total_quantity; 
		 $scope.total_price = data.total_price;
		 $scope.total_price_origin = data.total_price_origin;
		 $scope.tol_save = data.tol_save;
		 $scope.addr_list = data.addr_list;
		 $scope.good_list = data.good_list;
		 var sobj = document.createElement('script');
		sobj.type = "text/javascript";
		sobj.src = "info_js.js";
		var headobj = document.getElementsByTagName('head')[0];
		headobj.appendChild(sobj);
		 });
		
	});
});


</script>
</body>
</html>