<!DOCTYPE html>
<html lang="en">
<head>
<title>MO&Co. e-shop</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no,width=320,target-densitydpi=142">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link href="../resources/mobile/css/common.css"  rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../resources/mobile/js/jquery.min.js" ></script>
<script type="text/javascript" src="../resources/mobile/js/common.js" ></script>
<script type="text/javascript" src="../resources/mobile/js/angular-1.0.0rc10.min.js" ></script>
<script type="text/javascript" src="../resources/shop/js/jquery.slides.min.js" ></script>

<style>
a.slidesjs-next, a.slidesjs-previous, a.slidesjs-play, a.slidesjs-stop { display:none;  }
</style>
</head>
<body ng-app="mobileIndex" ng-controller="list" >

<div class="fullscreen">
	<div ng-show="topCategory">
		<a ng-href="list.html?tagIds={{topCategory.tag_id}}" >
			<img ng-src="{{topCategory.image}}" class="index_category" />
		</a>	
	</div>
	<div class="trendspotImage"  >

			<a ng-href="list.html?tagIds={{item.tag_id}}" ng-repeat="item in midCategory_list">
				<img ng-src="{{item.img}}" class='trendspot index_category' />
			</a>
		
	</div>
	<div ng-repeat="item in brandCategory_list">
		<a ng-href="list.html?brandId={{item.brand_id}}">
			<img ng-src="{{item.img}}" class='trendspot index_category' alt="{{item.brand_name}}"/>
		</a>
	</div>
</div>
<script type="text/javascript">
	var app=angular.module('mobileIndex',[]);
	app.controller("list",function($scope,$http){
		var url="http://114.55.38.119/mcshop/Public/demo/?service=MobileIndex.GetIndex&code=moco";
		$http.get(url).success(function(response) { 
			if(response.data.topCategory){
				$scope.topCategory = response.data.topCategory;
			}
			$scope.midCategory_list = response.data.midCategory_list;
			$scope.brandCategory_list = response.data.brandCategory_list;
		});	
	});
	$('.trendspotImage').slidesjs({
			width: 640,
			height: 500,
			play: {
				active: true,
				auto: true,
				interval: 4000,
				swap: true
			},
			pagination:{active:false,effect:"slide"}
	});
</script>
</body>
</html>
