body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    color:#000;
    font-family:Microsoft YaHei,Helvetica ,Apple LiGothic Medium,Arial;
}
input,select,textarea{
    font-family:Microsoft YaHei,Helvetica ,Apple LiGothic Medium,Arial;
    -webkit-appearance: none;
    box-shadow: none;
}
.ui-shadow-inset{
    box-shadow: none;
}
.ui-select .ui-btn{
    border-radius: 0px;
    box-shadow: none;
    background: url("/images/drop_icon.png") right 50% #fff no-repeat;
}
.ui-select .ui-btn span{
    text-align: left;
    font-size:14px;
}
.ui-select .ui-icon-carat-d:after{
    background:none;
}
.ui-page,.ui-mobile, .ui-mobile body{
    background-color: #fff;
    color:#000;
}
a{
    text-decoration: none;
}
.ui-content img{
    width:100%;
}
.ui-header{
	border-top:none;
}
#main_content{
    height:100%;
    min-height:320px;
    padding:3%;
}
#main_content.channel{
    color:#fff;
}
.ui-content{
    padding:3%;
    background-color: transparent;
    color:#000;
    text-shadow: none;
    font-size:0.9em;
}
.ui-content img{
    margin:4px 0px;
}
#main_content.channel{
    background:url("/images/channel_logo.gif") right top no-repeat #3a333a;
    padding:100px 25px 20px 25px;
}
#main_content.channel.ui-content .ui-listview, .ui-panel-inner>.ui-listview{
    margin:0px;
}
#main_content.channel.ui-content .ui-listview li a{
    background-color: transparent;
    text-shadow: none;
    color:#fff;
}

.ui-header{
    background-color:#000;
}
.ui-header .ui-title{
	color:#fff;
	text-shadow:none;
}
.radius_div {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: #ebebeb;
	border: 1px solid #e7e7e7;
	margin: 1em;
}
.ui-btn{
	padding:10px 10px;
}
.ui-input-text{
	 padding: 0px 0px 7px 0px;
	height: 32px;
	font-size:14px;
	font-family: 'Microsoft YaHei', Helvetica, 'Apple LiGothic Medium', Arial;
}
.ui-input-btn{
		width:50%;
		padding: 8px 10px;
		height:22px;
		background-color: #444444;
		border:1px solid #ccc;
		margin: 1em auto 1em auto;
		border-color:#fff;
		font-size:18px;
		font-family: 'Microsoft YaHei', Helvetica, 'Apple LiGothic Medium', Arial;
}
.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited{
	border-color:#fff;
	border-radius: 0px;
}
.ui-page-theme-b .ui-btn:hover, html .ui-bar-b .ui-btn:hover, html .ui-body-b .ui-btn:hover, html body .ui-group-theme-b .ui-btn:hover, html head+body .ui-btn.ui-btn-b:hover{
	border-color:#fff;
	border-radius: 0px;
}
#header .ui-btn {
	width: auto;
	margin: 2px 0px 0px 0px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	background: #1d1d1d;
	border-color: #292929;
	box-shadow: none;
	letter-spacing: 0px;
	color: #fff;
	font-weight:normal;
	padding:8px 14px 7px 14px;
}
.moco_logo{
	text-align:center;
}
.moco_logo img{
	width:80%;
	margin:0 auto;
}
@media screen and (min-width: 641px) {
	.moco_logo img{
		width:50%;
		margin:0 auto;
	}
}
.date_input .ui-input-text{
	display:inline-block;
	padding:2px 0px 8px 0px;
	width:100%;
}
#address{
	min-height:60px;
}
.ui-btn#bind_btn,.ui-btn#back_btn,.ui-btn#verify_btn{
	width:50%;
	margin:1em auto;
	font-family: 'Microsoft YaHei', Helvetica, 'Apple LiGothic Medium', Arial;
}
.ui-btn#send_btn{
	font-family: 'Microsoft YaHei', Helvetica, 'Apple LiGothic Medium', Arial;
	font-size:14px;
	padding:11px;
}
.ui-btn span{
	font-family: 'Microsoft YaHei', Helvetica, 'Apple LiGothic Medium', Arial;
	font-weight:bold;
	text-shadow:none
}
#verify_div{
	display:none;
}
.ui-btn#send_btn.disabled{
	background-color:#666;
	color:#ccc;
	text-shadow:none;
}
        #banner{
            padding:0.75em 1.5em;
        }
        #member_form{
            padding:0.5em 2.25em;
        }
        #member_form input,.ui-corner-all{
            border-radius: 0px;
        }
        #member_form input{
            padding:10px 10px 10px 70px;
        }
        #name_txt{
       /*     background: url("/images/vip_input_icon.gif") no-repeat 0px 0px;*/
			background: url("../oImage/vip_input_icon.gif") no-repeat 0px 0px;
			background-size: 60px 80px;
        }
        #mobile_txt{
       /*     background: url("/images/vip_input_icon.gif") no-repeat 0px  -40px;*/
			background: url("../oImage/vip_input_icon.gif") no-repeat 0px  -40px;
            background-size: 60px 80px;
        }
       #member_form input#sms_txt{
			padding-left:10px;
		}
        .tips{
            font-size:12px;
        }
        #member_form input#back_btn{
            padding: 10px;
            height: 44px;
        }
#sms_form{
	display:none;
}
#tips_txt{
	color:#1674EB;
}
#loading_mask{
	background:url(../images/big_loading.gif) 50% 50% #000 no-repeat;
	z-index:199;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.button{
	font-family:Microsoft YaHei,Helvetica ,Apple LiGothic Medium,Arial;
	width: 50%;
	padding: 8px 10px;
	background-color: #444444;
	border: 1px solid #ccc;
	margin: 1em auto 1em auto;
	border-color: #fff;
	font-size: 18px;
	color:#fff;
	font-weight:bold;
}
.button.gray{
	background-color:#ccc;
	color:#333;
}

#alert,.ui-popup{
	background:url("../images/black_bg.png") repeat #000;
	width:280px;
	padding:20px 5px;
	border:0px solid #ffffff;
}
#alert .ui-content,.ui-popup .ui-content{
	background-color:#e7e7e7;
	text-align:center;
	text-shadow:none;
	font-size:16px;
        box-shadow: none;
}
#alert #alert_content{
	padding-bottom:20px;
        color:#fff;
}
.ed #alert #alert_content{
    color:#000;
}
#alert .ui-btn{
	width:30%;
	background-color:#000000;
	border:1px solid #ffffff;
	margin:10px auto;
	text-shadow:none;
	color:#ffffff;
        border-radius: 0px;
        font-size:14px;
        padding:8px 0px;
}
#alert .ui-btn:hover{
	background-color:#ffffff;
	color:#000;
}
.ed div#alert{
    background:url("../images/light_bg.png") repeat transparent;
}
.ed #alert .ui-content,.ed .ui-popup .ui-content{
    background: transparent;
}
.ed #alert .ui-btn{
    background: #fff;
    color:#000;
    border:none;
    box-shadow: none;
}
.ed #alert .ui-btn:hover{
    background-color:#ccc;
}
#gift_btns{
	margin:0px auto 0px auto;
	width:100%;
}
#gift_btns ul{
	width: 100%;
	margin: 20px auto 30px auto;
	padding:0px;
}
#gift_btns li{
	display:block;
	margin:0px;
}
#gift_btns li img{
	width:100%;
}
#gift_btns li i{
	float:left;
	padding-left:10px;
	font-style:normal;
}
#gift_btns a{
	margin-bottom:10px;
}
@media screen and (min-width: 640px) {
    #gift_btns ul{
		width:40%;
		
	}
}
.li_list{
	list-style: outside decimal;
	margin:20px 0px;
	padding-left:16px;
}
@media screen and (orientation: portrait){
    .ui-mobile .ui-page {
      min-height: 420px;
      height:100%;
    }
}