
 .mod_dialog .dialog_main{background:#333;text-shadow:none;color:#FFF;position:fixed;width:290px;left:50%;margin-left:-145px;top:30%;z-index:301}
.mod_dialog .dialog_main .dialog_bd{padding:20px}
.mod_dialog .dialog_main .dialog_ft{padding:10px}
.mod_dialog .dialog_main .dialog_ft a{color:#FFF;background:#3c3c3c;margin-right:10px;border:1px solid #161616;box-shadow:0 1px 1px #5a5a5a inset;border-
radius:4px;padding:4px 0;text-align:center}
.mod_dialog .dialog_main .dialog_ft a:last-child{margin-right:0}
.mod_dialog .dialog_mask{background-color:rgba(0,0,0,.5);position:fixed;top:0;left:0;right:0;bottom:0;z-index:300}
.mod-confirm{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-background-clip:padding-box;-moz-background-clip:padding-
box;position:absolute;z-index:9999;background:#fff;width:272px;left:50%;top:50%;margin-top:-80px;margin-left:-136px}
.mod-confirm__overlay{display:block;background:#000;background:rgba(0,0,0,.4)}
.mod-confirm__inner{position:relative;z-index:auto}
.mod-confirm__text{text-align:center;padding:20px;color:#000}
.mod-confirm__btn{border-top:1px solid #BBB;width:50%;display:block;float:left;text-align:center;padding:10px 0;color:#007aff}
.mod-confirm__btn_highlight{font-weight:700}
.mod-confirm__btn_border-right{margin-left:-1px;border-right:1px solid #BBB}
.mod-confirm__btn_yes{border-left:1px solid #BBB;margin-left:-1px;font-weight:700}
	
      