
.new_refund .refund_main {
	background: #333;
	text-shadow: none;
	color: #FFF;
	position: fixed;
	width: 290px;
	left: 50%;
	margin-left: -145px;
	top: 30%;
	z-index: 301
}

.new_refund .refund_main .refund_bd {
	padding: 20px
}

.new_refund .refund_main .refund_ft {
	padding: 10px
}

.new_refund .refund_main .refund_ft a {
	color: #FFF;
	background: #3c3c3c;
	margin-right: 10px;
	border: 1px solid #161616;
	box-shadow: 0 1px 1px #5a5a5a inset;
	border- radius: 4px;
	padding: 4px 0;
	text-align: center
}

.new_refund .refund_main .refund_ft a:last-child {
	margin-right: 0
}

.new_refund .refund_mask {
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 300
}

.new-confirm {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding- box;
	position: absolute;
	z-index: 9999;
	background: #fff;
	width: 272px;
	left: 50%;
	top: 50%;
	margin-top: -80px;
	margin-left: -136px
}

.new-confirm__overlay {
	display: block;
	background: #000;
	background: rgba(0,0,0,.4)
}

.new-confirm__inner {
	position: relative;
	z-index: auto
}

.new-confirm__btn {
	border-top: 1px solid #BBB;
	width: 50%;
	display: block;
	float: left;
	text-align: center;
	padding: 10px 0;
	color: #007aff
}

.new-confirm__btn_highlight {
	font-weight: 700
}

.new-confirm__btn_border-right {
	margin-left: -1px;
	border-right: 1px solid #BBB
}

.new-confirm__btn_yes {
	border-left: 1px solid #BBB;
	margin-left: -1px;
	font-weight: 700
}

.new-confirm_content {
	padding: 15px 20px 0px;
	height: 100px;
}

.new-confirm_content .content_radio {
	padding: 5px;

}

.confirm_content_error {
	text-align: left;
	color: red;
	font-size: 12px;
	padding-left:10px;
    display: none;
}

.new-confirm_content input{
    -webkit-appearance: radio
}

.new-confirm_content span{
    margin-left: 10px;
}
.new-confirm_title
{
    font-size:14px;
    font-weight:bolder;
    margin-top:20px; 
    text-align:center;
}