

<!DOCTYPE html>
<html style="background-color: #141414">
<head><meta charset="utf-8" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" /><meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" /><meta name="format-detection" content="telephone=no" /><title>
	
积分兑换

</title><link href="Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" /><link href="Scripts/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" /><link href="Demo/font-awesome/font-awesome.min.css" rel="stylesheet" /><link href="Demo/Resources/Mall.css" rel="stylesheet" /><link href="Demo/js/IosOverlay/css/iosOverlay.css" rel="stylesheet" /><link href="js/mobiscroll.trial/css/mobiscroll.custom-2.16.1.min.css" rel="stylesheet" type="text/css" /></head>
<body>

<script src="js/WebResource.js" type="text/javascript"></script>

<script type="text/javascript">
//<![CDATA[
in_rentid = '1';in_weid = '2738574294';in_hash = 'jnby';in_openid = 'oVFOhjjd8F5vT2TJiFj_bVa0lbE4';jsapi_appid = 'wx78d38a41cc2b7b64';jsapi_timestamp = '1465192132';jsapi_noncestr = 'uDFGcubQxdMPcLJk';jsapi_signature = '0cde22c2b278a5e1055fcd7f11c62c548c8a1769';jsapi_title = 'JNBY';jsapi_imgurl = 'http://wx.jnby.com/wxdata/public/brand/3-jnby.jpg';jsapi_link = 'http://wx.jnby.com/apptest/wx_portal.html?hash=jnby';jsapi_desc = '\u5FAE\u4FE1\u5546\u57CE';jsapi_type = 'default';jsapi_activityid = null;openId = 'oVFOhjjd8F5vT2TJiFj_bVa0lbE4';Hash = 'jnby';//]]>
</script>

<script src="js/MicrosoftAjax.js" type="text/javascript"></script>
<script src="js/MicrosoftAjaxWebForms.js" type="text/javascript"></script>
<script src="Scripts/jquery.1.11.min.js" type="text/javascript"></script>
<script src="Scripts/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jweixin-1.0.0.js" type="text/javascript"></script>
<script src="js/cookiehelper.js" type="text/javascript"></script>
<script src="Scripts/Request.js" type="text/javascript"></script>
<script src="Demo/js/IosOverlay/js/spin.min.js" type="text/javascript"></script>
<script src="Demo/js/IosOverlay/js/iosOverlay.js" type="text/javascript"></script>
<script src="Demo/js/MatrixGlobal.js" type="text/javascript"></script>
<script src="js/mobiscroll.trial/js/mobiscroll.custom-2.16.1.min.js" type="text/javascript"></script>
<script src="js/wx/wxbase.js" type="text/javascript"></script>
<script src="js/wx/menu.js" type="text/javascript"></script>
<script src="js/wx/jsapi.js" type="text/javascript"></script>
<script src="Scripts/angular-1.0.0rc10.min.js" type="text/javascript"></script>

    <div id="maincontent" style="color:#fff" ng-app="redeemC"  ng-controller="list">
        
    <div id="main" class="full" style="background-color: #141414">
		<div style="margin-top:10px;">
			<table>
				<tr>
					<td >
						<span>您目前的可用积分为：</span>
						<span id="integral">{{integral}}</span>
					</td>
				</tr>
			</table>
		</div>
       
		<table style="margin-top:15px;height:55px;">
            <tr id="moco_rule" class="hidden" style="margin-top:5px;">
				<td>
					<p style="padding-top:10px;">现VIP凭10000积分可兑换1张500元现金券</p>
					<p>每张现金券仅用于一件MO&Co正价商品 </p>
					<p>活动详情请咨询店员</p>
					<p>兑换数量</p>
					<p>
						<input  id="Moco_SL" type="text"  style="text-align:center;width:116px;height:32px;" value="" ng-model="moco.number"></input>
					</p>
				</td>
			</tr>
			<tr id="edition_rule" class="hidden">
				<td>
					<p style="padding-top:10px;">现VIP凭凭有效积分按指定比例兑换等额现金券</p>
					<p>10000-29999分回馈比例=5% </p>
					<p>10000-29999分回馈比例=5.5% </p>
					<p>10000-29999分回馈比例=6% </p>
					<p>积分现金券仅用于购买Edition10正价商品 </p>
					<p>活动详情请咨询店员</p>
					<p>兑换积分</p>
					<p > 
						<input type="text" id="Edition10_integral"  style="text-align:center;width:116px;height:32px;" ng-model="Ed.integral" ng-change="EdValue()"></input>
					</p>
					<p>可兑换现金券面值</p>
					<p>
						<input type="text" id="Edition10_value" value="" style="text-align:center;width:116px;height:32px;" ng-model="Ed.value"></input>
					</p>
				</td>
			</tr>
			<tr>
				<td style="padding:10px;">
					<input id="redeem_submit"  class="btn btn-default btn-submit"  value="确认提交"></input>
				</td>
			</tr>
			<tr>
				<td>
					<a class="btn btn-default" role="button" id="a">虚拟切换按钮</a>
				</td>
			</tr>

			<tr>
				<td style="text-align:left">
					<p style="margin-bottom:0px;margin-top:25px;">详询全国客服热线800-830-5798或垂询店员。</p>
					<p>EPO Fashion Co.Ltd公司在法律允许的范围内对活动内容拥有调整权。。</p>
				</td>
			</tr>
		</table>
		<table >
			<tr>
				<td style="text-align:left">
					<p style="margin-bottom:0px;">以下为VIP积分抵用券适用店铺</p>
				</td>
			</tr>
			<tr>
				<td style="padding:10px">
					<select  id="province" class="form-control" style="height: 35px;margin-top: 5px;border: none;font-size: 1.1em;">

					</select>
				</td>
			</tr>
			<tr>
				<td style="padding:10px">
					<select id="city"  class="form-control" style="height: 35px;margin-top: 5px;border: none;font-size: 1.1em;">

					</select>
				</td>
			</tr>
			<tr>
				<td>
					<ul id="store" style=" list-style-type: none">

					</ul>
				</td>
			</tr>
         </table>
    </div>
   
        <script src="Scripts/jquery-barcode.js" type="text/javascript"></script>
		<script src="js/wx/wxredeem.js" type="text/javascript"></script>
    </div>
<script type="text/javascript">
	$("#a").click(function(){
			if($("#moco_rule").hasClass("hidden")){
				$("#moco_rule").removeClass("hidden");
				$("#edition_rule").addClass("hidden");
			}
			else{
				$("#edition_rule").removeClass("hidden");
				$("#moco_rule").addClass("hidden");
			}
	});
	
	var app=angular.module("redeemC",[]);
	app.controller("list",function($scope,$http){
		var integral_url="http://114.55.38.119/mcshop/Public/demo/?service=User.GetBaseInfo&user_id=9137";
		$http.get(integral_url).success(function(response) { 
			$scope.integral = response.data.info.integral;
		});	
		$scope.Ed={};
		$scope.Ed.integral="";
		$scope.Ed.value="";
		$scope.EdValue=function(){
			if($scope.Ed.integral>=10000&&$scope.Ed.integral<=29999){
				$scope.Ed.value=0.05*$scope.Ed.integral;
			}
			else if($scope.Ed.integral>=30000&&$scope.Ed.integral<=49999){
				$scope.Ed.value=0.55*$scope.Ed.integral;
			}
			else if($scope.Ed.integral>=50000){
				$scope.Ed.value=0.6*$scope.Ed.integral;
			}
			else{
				$scope.Ed.value="";
			}
		};
		
	});

</script>
    
</form>
</body>
</html>
